.app-content {
    padding-top: 50px;
}
.title-card {
    --panel: #01172F;
    --accent: #b1d34a;
    --radius: 8px;

    position: relative;
    width: 70vw;
    height: 40vw;
    margin: 24px auto;
    border-radius: var(--radius);
    background: var(--panel);
    outline: 4px solid white;
    box-shadow: 0 12px 40px rgba(0, 0, 0, .35);
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.title-inner {
    padding: clamp(32px, 6vw, 72px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-text {
    font-family: "VT323", monospace;
    font-size: clamp(4.0rem, 7vw, 6rem);
    line-height: 1.05;
    color: var(--accent);
    letter-spacing: .06em;
    margin: 0 0 .6em 0;
}

.title-underline {
    display: block;
    height: 12px;
    width: 50vw;
    margin: 0 auto;
    background: var(--accent);
    border-radius: 2px;
}

/* size/position the corner svgs */
.title-corner{
  position:absolute;
  width: clamp(110px, 14vw, 190px);
  height: auto;
  filter: drop-shadow(0 2px 8px rgba(0,0,0,.25));
}

.title-corner .title-corner-path{
  fill: #b1d34a;     /* lime */
}


/* corners */
.title-corner.tl{ top: 26px; left: 26px; fill: #b1d34a; }
.title-corner.br{
  right: 26px; bottom: 26px;
  transform: scale(-1, -1);   /* mirror TL to BR */
  rotate: (270deg);
  fill: #b1d34a;
}

/* Make skinnier / smaller (non-uniform scale) */
.title-corner.--skinny { transform: scaleX(0.85) scaleY(0.85); }
.title-corner.br.--skinny { transform: scale(-1, -1) scaleX(0.8); } /* mirrored & narrower */
