.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;       /* space between rectangles */
    padding: 40px;   /* spacing around the group */
    margin-top: 100px;  /* pushes boxes down */
  }
  
  .rectangle {
    width: 1200px;
    height: 300px;
    background-color: #01172F; /* navy inside */
    border: 10px solid #B1D34A; /* green outline */
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding-left: 15px;
    font-size: 150px;
    font-weight: bold;
    color: #3A8DEB;
  }

  .icon {
    width: 100px;
    height: 100px;
    object-fit: contain; /* keeps proportions */
  }

  .dropdown {
    background-color: #0a0f29; /* dark background */
    color: white;
    font-size: 50px;
    padding: 10px 15px;
    margin: -10px 0 20px 0; /* space below each */
    border-radius: 8px;
    max-width: 1200px;
    text-align: left;
  }  